<div class="main-wrapper">
  <h3 class="text-info">{{ boardName }}</h3>
  <div>
    <mat-card id="{{ card.id }}" cdkDropList [cdkDropListData]="card" (cdkDropListDropped)="drop($event)"
      *ngFor="let card of cards; let cardIndex = index">

      <span (click)="deleteCard(cardIndex, card.id)" class="btnDeleteCard">
        <mat-icon color="primary">clear</mat-icon>
      </span>

      <div class="form-group" *ngIf="card.name">
        <h4 class="text-info text-center card-Title" *ngIf="card.name">
          {{ card.name }}
        </h4>
      </div>
      <div class="form-group" *ngIf="!card.name">
        <mat-form-field appearance="standard">
          <input ngDefaultControl matInput placeholder="Card Title" type="text"
            (keyup.enter)="cardTitleAdd($event, cardIndex)" />
        </mat-form-field>
      </div>

      <div *ngIf="cardList[cardIndex]">
        <div cdkDrag [ngClass]="item.done" *ngFor="let item of card.tickets; let itemIndex = index" class="innerCard">
          {{ item.cardtext }}
          <span (click)="remove(itemIndex, cardIndex)" class="close">
            <mat-icon color="primary">clear</mat-icon>
          </span>
          <span (click)="done(itemIndex)"></span>
        </div>
        <input type="text" ngDefaultControl matInput id="cardtext" (keyup.enter)="onKey(cardIndex, $event, card)"
          placeholder="Add Card" />
      </div>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" (click)="addCard()">
    <i class="fa fa-plus fa-1x"></i> Add a List
  </button>
</div>