<div class="createBoardForm">
  <mat-card>
    <mat-card-title>
      <h3>Enter Board Name to begin</h3>
    </mat-card-title>
    <mat-card-content>
      
      <form [formGroup]="boardForm" novalidate>
        
        <mat-form-field floatLabel="'Board Name'" color="primary">
          <input formControlName="BoardName" ngDefaultControl matInput placeholder="Board Name" #BoardName />
          <mat-hint *ngIf="boardForm.controls['BoardName'].invalid &&
            (boardForm.controls['BoardName'].dirty ||
            boardForm.controls['BoardName'].touched) && 
            boardForm.controls['BoardName'].errors.required">
            Product Name is required.
          </mat-hint>
        </mat-form-field>
  
      </form>
    
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="boardForm.pristine || boardForm.invalid" (click)="createBoard()">
        Create Name
      </button>
    </mat-card-actions>
  </mat-card>
</div>