<div class="container-fluid">
  <div class="row h-100">
    <div class="col-12 align-middle">
      <div class="d-flex row justify-content-center align-items-center">
        <div
          class="col-3 border border-info text-center rounded-lg p-4 jumbotron"
        >
          <button
            type="button"
            class="btn  btn-info"
            [routerLink]="['create-board-name']"
          >
            Create Board
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
